html {
    font-family: Verdana, sans-serif;
    font-size: 16px;
    text-align: left;
    color: black;
    background-color: rgb(255, 246, 220);
    margin: 0 0;
    padding: 0 0;
}

body {
    margin: 0 0;
}

h1.header {
    text-align: center;
    background-color: rgb(185, 177, 153);
    margin: 0 0;
    padding-top: 16px;
    text-decoration: none;
}

div.navbar {
    text-align: center;
    background-color: rgb(185, 177, 153);
    padding: 16px;
}

div.navbar a {
    font-size: 1.5em;
    margin: 0 8px;
    padding: 8px;
    display: inline-block;
    border: solid 2px black;
    border-radius: 4px;
}

h1, h2 {
    text-align: center;
    text-decoration: underline;
}

h3 {
    padding: 0 2em;
}

p {
    padding: 0 2em;
}

p.desc {
    text-align: justify;
}

ul, ol {
    padding: 0 1em;
    margin: 2em;
}

img {
    display: flex;
    margin: 0 auto;
    height: 300px;
    width: auto;
}